.cardImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.modalImage {
  width: 100%;
  height: auto;
}

.modalDescription {
  text-align: center;
  font-weight: bold;
  margin-top: 2em;
}

.inputContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.inputBox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  padding: 10px;
  font-size: 18px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
